---
import TechnologyCard from "./TechnologyCard.astro";
import LinkCard from "./LinkCard.astro";
const {
  title = "title",
  description = "description",
  technologies = ["django"],
  links = [{ name: "github", url: "https://github.com", icon: "github" }],
  image = null,
} = Astro.props;


---

<>
  <div
    class=" border border-white shadow-md rounded-lg p-2 m-2 flex flex-col transition-all duration-300"
  >
    <div class="text-xl font-bold text-orange-500">{title}</div>
    <div class="text-white">{description}</div>
    <div class="m-4"></div>


    <!-- If image, render image -->
    {image && (
      <div class="flex justify-center">
        <img
          class="shadow-md w-1/2"
          src={image}
          alt={title}
        />
      </div>
    )}
    <!-- Container for technology cards at the bottom -->
    <div class="mt-auto">
      

      <!-- LINKS -->
      <div class="font-bold text-gray-900">Links</div>

      <div class="flex flex-row flex-wrap">
        {links.map((link) => (
          <LinkCard {link} />
        ))}
        </div>


      <!--           <img src={icons[link.icon]} class="h-10 w-10 mr-2 fill-red-400" />  -->
      <!-- TECHNOLOGIES -->
      <div class="font-bold text-gray-900 mt-2">Technologies</div>
      <div class="flex flex-row">
        {
          technologies.map((technology) => (
            <TechnologyCard technology={technology} />
          ))
        }
      </div>
    </div>
  </div>
</>
